{
  protocol: 'https:',
  gateway: 'api.weixin.qq.com',
  webLoginEndpoint: 'open.weixin.qq.com',
  appId: 'wx5432dc1dd6164d4e',
  appSecret: 'foofoofoo',
  mchId: '[0-9]+',
  mchSecret: 'barbarbar',
  spbillCreateIp: 'xxx.xxx.xxx.xxx',
  mchApiGateway: 'api.mch.weixin.qq.com',
  callbackNotifyGateway: 'xxx.xxx.xxx.xxx:pppp'
}
